body{

margin:0;
font-family:serif;
color:#111;

}


/* header */

.header{

position:fixed;
top:0;
width:100%;
height:80px;

display:flex;
justify-content:space-between;
align-items:center;

padding:0 40px;

background:rgba(255,255,255,0.8);
backdrop-filter:blur(10px);

z-index:10;

}

.nav a{

margin-left:30px;
text-decoration:none;
color:black;

}


/* hero */

.hero{

height:100vh;

background:url("../images/hero.jpg") center/cover;

display:flex;
justify-content:center;
align-items:center;

text-align:center;

}

.hero h1{

font-size:60px;

color:white;

}

.hero p{

color:white;

}


/* section */

.section{

padding:160px 0;

}

.container{

max-width:1200px;
margin:auto;

display:flex;
gap:80px;
align-items:center;

}

.container.reverse{

flex-direction:row-reverse;

}

.image img{

width:100%;

}


/* parallax */

.parallax{

height:80vh;

background:url("../images/garden.jpg") center/cover fixed;

display:flex;
justify-content:center;
align-items:center;

}

.parallax h2{

color:white;
font-size:50px;

}


/* footer */

.footer{

padding:60px;
text-align:center;

background:#111;
color:white;

}


/* animation */

.fade{

opacity:0;
transform:translateY(40px);

transition:1.2s;

}

.fade.show{

opacity:1;
transform:translateY(0);

}

.fade-up{

opacity:0;
transform:translateY(60px);

transition:1s;

}

.fade-up.show{

opacity:1;
transform:translateY(0);

}
